@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

* {
  box-sizing: border-box;
  font-family: "Almarai", sans-serif;


}

body {
  margin: 0;
  font-family: "Almarai", sans-serif;
  color: black;
  background-color: white;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  gap: 0.5rem;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 2rem;
  padding: 0.2rem;
  border-radius: 0.32rem;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
